.chat {
    border:1px solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat-messages{
    border:1px solid;
    height: 250px;
    width: 400px;
    border-radius: 5px;
    overflow-y: auto;
}
.chat-bottom > form{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-bottom input {
    width: 100%;
}
.chat-bottom button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border: initial;
    margin-left: 10px;
}
.chat-message {
    border-bottom:1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}