.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
  }
  .login-form > button {
    margin: 15px 0 0 0;
    background-color: red;
    color: white;
    border: initial;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .login-form > input {
    padding: 10px;
    margin-bottom: 5px;
  }

  .login-form__register {
    text-align: center;
    margin:10px 0 0 0;
    cursor: pointer;
  }